<!doctype html> 
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible" />
    <title>doc@curation</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feed.xml" /><!--[if lt IE 9]><script src="../js/ie8.js" type="text/javascript"></script><![endif]--><link href="../css/all.css" media="screen" rel="stylesheet" type="text/css" /><script type="text/javascript">
      (function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-35696879-2", location.hostname);ga("send","pageview");
    </script>
    <link href="/favicon.png" rel="icon" type="image/png" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">doc@curation</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/blog.html"> Articles  </a>
            </li>
            <li>
              <a href="/menu1.html"> About  </a>
            </li>
            <li class="dropdown">
              <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/tags/feature.html">feature (16)</a>
                </li>
                <li>
                  <a href="/tags/gettingstarted.html">gettingstarted (2)</a>
                </li>
                <li>
                  <a href="/tags/tutorial.html">tutorial (1)</a>
                </li>
                <li>
                  <a href="/tags/workflow.html">workflow (1)</a>
                </li>
                <li>
                  <a href="/tags/movie.html">movie (1)</a>
                </li>
                <li>
                  <a href="/tags/release.html">release (2)</a>
                </li>
                <li>
                  <a href="/tags/evernote.html">evernote (1)</a>
                </li>
                <li>
                  <a href="/tags/inspiration.html">inspiration (2)</a>
                </li>
                <li>
                  <a href="/tags/quicktip.html">quicktip (3)</a>
                </li>
                <li>
                  <a href="/tags/analytics.html">analytics (1)</a>
                </li>
                <li>
                  <a href="/tags/showcase.html">showcase (1)</a>
                </li>
                <li>
                  <a href="/tags/integration.html">integration (1)</a>
                </li>
              </ul>
            </li>
            <ul class="list-unstyled list-inline nav navbar-nav navbar-right"></ul>
            <li><a href="https://twitter.com/talfco">
                        <i class="fa fa-lg fa-inverse fa-twitter-square"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/felixk">
                        <i class="fa fa-lg fa-inverse fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://plus.google.com/u/1/b/102868953630532463137/+CloudburoCh/posts">
                        <i class="fa fa-lg fa-inverse fa-google-plus-square"></i></a>
            </li>
            <li><a href="https://github.com/talfco">
                        <i class="fa fa-lg fa-inverse fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          //<![CDATA[
                            var disqus_shortname = 'dev1cloudburo';
                    
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          //]]>
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          <script type="text/javascript">
          //<![CDATA[
              var disqus_shortname = 'dev1cloudburo';
              (function () {
                  var s = document.createElement('script'); s.async = true;
                  s.type = 'text/javascript';
                  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
              }());
          //]]>
          </script>
          
          <hr />
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          //<![CDATA[
                            var disqus_shortname = 'dev1cloudburo';
                    
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          //]]>
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          <script type="text/javascript">
          //<![CDATA[
              var disqus_shortname = 'dev1cloudburo';
              (function () {
                  var s = document.createElement('script'); s.async = true;
                  s.type = 'text/javascript';
                  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
              }());
          //]]>
          </script>
          
          <aside>
            <h3>
              Recent Articles
            </h3>
            <ol>
              <li>
                <a href="/2015/06/10/quick-tip-evernote-notebook-grouping-for-each-content-site.html">Quick Tip - Evernote Notebook Grouping for each content site</a> <span>Jun 10</span> 
              </li>
              <li>
                <a href="/2015/06/10/feature-customizable-evernote-publishing-schedule.html">Feature: Customizable Evernote Publishing Schedule</a> <span>Jun 10</span> 
              </li>
              <li>
                <a href="/2015/06/07/release-beta-0-0-37.html">Release: Beta-0.0.37</a> <span>Jun  7</span> 
              </li>
              <li>
                <a href="/2015/06/06/release-beta-0-0-36.html">Release: Beta-0.0.36</a> <span>Jun  6</span> 
              </li>
              <li>
                <a href="/2015/06/06/news-publishing-workflow-in-3-simple-steps.html">News Publishing Workflow in 3 simple steps</a> <span>Jun  6</span> 
              </li>
              <li>
                <a href="/2015/06/06/content-publishing-guidelines-and-community-rules.html">Content Publishing Guidelines and Community Rules</a> <span>Jun  6</span> 
              </li>
              <li>
                <a href="/2015/06/06/working-with-evernote-some-inspiring-use-cases.html">Working with Evernote - some inspiring use cases</a> <span>Jun  6</span> 
              </li>
              <li>
                <a href="/2015/06/02/feature-embed-direct-html-code-fragments.html">Feature: Embed direct HTML code fragments</a> <span>Jun  2</span> 
              </li>
              <li>
                <a href="/2015/06/01/analytics-mobile-friendly-site-matters.html">Analytics: Mobile friendly site matters</a> <span>Jun  1</span> 
              </li>
              <li>
                <a href="/2015/06/01/feature-customziable-article-categorization.html">Feature: Customziable Article Categorization</a> <span>Jun  1</span> 
              </li>
            </ol>
          </aside>
          <hr>
            <p class="text-center">
              ©2015 <a href="/">doc@curation</a> <br /><span class="small">Powered by<a href="https://cloudburo.net/docs/products.html"> Cloudburo Curation Engine</a></span>
            </p>
          </hr>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="well">
            <h4>
              Categories
            </h4>
            <ul class="list-unstyled">
              <li>
                <a href="/tags/feature.html">feature</a> (16)
              </li>
              <li>
                <a href="/tags/gettingstarted.html">gettingstarted</a> (2)
              </li>
              <li>
                <a href="/tags/tutorial.html">tutorial</a> (1)
              </li>
              <li>
                <a href="/tags/workflow.html">workflow</a> (1)
              </li>
              <li>
                <a href="/tags/movie.html">movie</a> (1)
              </li>
              <li>
                <a href="/tags/release.html">release</a> (2)
              </li>
              <li>
                <a href="/tags/evernote.html">evernote</a> (1)
              </li>
              <li>
                <a href="/tags/inspiration.html">inspiration</a> (2)
              </li>
              <li>
                <a href="/tags/quicktip.html">quicktip</a> (3)
              </li>
              <li>
                <a href="/tags/analytics.html">analytics</a> (1)
              </li>
              <li>
                <a href="/tags/showcase.html">showcase</a> (1)
              </li>
              <li>
                <a href="/tags/integration.html">integration</a> (1)
              </li>
            </ul>
          </div>
          <div class="well">
            <h4>
              By year
            </h4>
            <ol>
              <li>
                <a href="/2015.html">2015</a> (28)
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/all.js" type="text/javascript"></script>
  </body>
</html>